<!--Update Food Page-->
<!--This implements R5: Update food page-->

<!doctype html>
<html>
<head>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

<!--This changes the title of the webpage from static to dynamic, together with the corresponding res.render() function from main.js.-->
<title> <%= title %> </title>

 </head>

<!--Navbar-->
<!--This implements the second part of R5A: Display a link to the home page or a navigation bar that contains links to other pages.-->

 <body>
 <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="collapse navbar-collapse justify-content-center" id="navbarNav">
      <ul class="navbar-nav justify-content-center">
        <li class="nav-item">
          <a class="nav-link" href="./index">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="./about">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="./add">Add Food</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="./search">Search Food</a>
          </li>
        <li class="nav-item active">
        <a class="nav-link" href="./update">Update Food</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="./list">List Food</a>
        </li>
      </ul>
    </div>
  </nav>

  <h1 class="display-5 text-center"> Update food items </h1>
  <p class="display-6 text-center">Search for food items and update them.</p>


  <!--Search form-->
<!--This implements the first part of R5A: Display search food form.-->

    <form class="form-inline justify-content-center" action="/topic7/mid-term/search-result" method="GET">
      <input id="search-box" type="text" name="keyword" value="Name of food item" style="width:200px"> <input type="submit" value="GO" >
      </form>

 </body>